
.header h1{
    color: rgb(226, 0, 0);
    position: relative;
    font-size: 40px;
    text-align: center;
  
}
.header h2{
    text-align: center;
    color: rgba(161, 7, 7, 0.829);
    font-family: Arial;
    margin-top: 0px;
    align-content: center;
    float: auto;
    
}
.header h3{
    text-align: center;
    color: rgba(161, 7, 7, 0.829);
    font-family: Arial;
    margin-top: -10px;
    margin-bottom: 5px;
    align-content: center;
    float: auto;
}

.header img{
    float: left;
    
    background: rgb(255, 255, 255);
}
.placeh{
    position: sticky;
    background-color: #160d0d;
    margin-top: 0;
    top:0;
  
}
.placeh ul{
    
    list-style: none;
    margin: 60;
    padding:100;
    overflow: hidden;
    align-items: center;
}
.placeh li{
    float: left;
    z-index: auto;
}
.placeh li a{
    display: block;
  color: white;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-weight: bold;
}

.placeh2{
    background-color: rgb(207, 18, 18);
    font:13px/1.5 Verdana;
    width: 150px;
    float: left;
    position:sticky;
    top: 47px;
    margin-left: 0px;
    border-radius: 6px;
    
}
.placeh2 ul{
    position: relative;
    width: 100%;
    padding: 0px;
    
}
.placeh2 ul li{
   list-style: none;
    box-shadow: 0 5px 25px rgb(0,0,0,.1);
    width: 100%;
}

.placeh2 ul li a{
    width:80%;
  border-left-color: #3c8dbc;
  display:inline-block;
  color: rgb(0, 0, 0);
  text-align: left;
  padding: 10px;
  text-decoration: none;
  transition: 0.4s;
  font-size: medium;
  padding: 10px;
}

.placeh2 ul li :hover{
    padding-right:3px;
    transform: scale(1.1);
    z-index: 100;
    background: #25bcff;
    background-position:center ;
    box-shadow: 0 5px 25px rgb(0,0,0,.1);
    border-radius: 5px;
    border-left: 10px solid #3c8dbc ;
}
.placeh2 ul li :hover a{
    border-left: 10px solid #3c8dbc ;
}
.placeh2 ul li a:active{
    border-left: 10px solid #3c8dbc ;
    background: yellow;
}

.temp{
    margin-top: 10px;
    width: 80vw;
    margin-left: 12vw;
    

}
.Aim{
    margin-left: 12vw;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;

    
}

.Aim li{
    padding-top: 10px
}

.centre{
    align-content: center;
    margin-left: 500px;
}
